/*-----GLOBAL-----*/

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    width: 100%;
    background: white;
}

.changeColor {
   background: green;
}

p {
  font-family: 'Raleway';
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.6em;
  padding-top: 1em;
}

h1 {
    font-family: 'Raleway', light;
    font-size: 4em;
    font-weight: 500;
}

h2 {
    font-family: 'Raleway';
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.6em;
}

.text-container {
    display: grid;
    grid-template-columns: 1fr minmax(10ch, 50ch) 2.5fr;
    padding: 1.5em 0 1.8em 0;
}

a {
    font-family: 'Raleway';
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 0;
}

/*-----NAV-----*/

.logo {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 2.2em;
    display: inline;
    padding-left: 10%;
    padding-top: -10%;
    z-index: -1;

    animation-name: slidefromleft;
    animation-duration: 2s;
    animation-delay: 1.25s;
    animation-fill-mode: backwards;
}

div {

}

nav {
    line-height: 175px;
    text-align: right;
}

nav a {
    width: 250px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.8em;
    font-weight: 700;
}

nav a:first-child {
    float: left;
}

nav a img {
    vertical-align: left;
    width: 55px;
    height: 55px;
}

header {
    height: 100vh;
    min-height: 105vh;
    padding: 0 5%;
    background-image: url(images/trianglify.svg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #8d14ff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1099' height='915.8' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
    background-size: auto auto; */
}

.clearfix {
  clear: both;
}

.select-disabled {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}

.headline h1 {
  padding-bottom: 30px;
}

.headline h2 {
  padding-bottom: 30px;
}

.button {
    margin-right: 50px;
    border-radius: 100px;
    touch-callout: none;
    user-select: none;
    display: inline-block;
    border: 0.2em solid;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.6;
    color: #fff;
}

.button__text {
    letter-spacing: 4px;
    font-family: 'Raleway';
    display: block;
    padding: 1em 2em;
    text-transform: uppercase;
    font-weight: bold;
}

.button__text:before {
    content: attr(title);
}

.button__text--bis {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-1em);
    opacity: 0;
}

.button__mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.3s;
}

.button:hover {
    opacity: 1;
}

.button:hover .button__text {
    animation: fx-text 0.3s ease-out;
}

.button:hover .button__text--bis {
    animation: fx-text-bis 0.3s ease-out;
}

.button:hover .button__mask {
    animation: fx-mask 0.3s ease-out;
}

.button:active {
    opacity: 1;
    background: white;
    color: inherit;
}

.whitetext {
  color: #eee;
}

/*-----ABOUT-----*/

.about {
    overflow: hidden;
  display: block;
  background-color: #eee;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%233d93cc' points='977 570 539 900 1396 900'/%3E%3Cpolygon fill='%234947aa' points='977 570 872.9 900 1396 900'/%3E%3Cpolygon fill='%233185ce' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23593fa6' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%233a75cd' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%236636a0' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%234e63c7' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23732b99' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23654dbc' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%237e1d91' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%237b2faa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  transform: translateY(1000px);
  transform: scaleX(-1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Raleway';
}

.aboutcontent {
  transform: scaleX(-1);
  padding-top: 25vh;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

span.a {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 5px;
    border: 1px solid blue;
    background-color: yellow;
}

span.b {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;
    background-color: yellow;
}

.about-image {
  margin-left: -5vw;
  margin-right: 5vw;
  margin-top: 5vw;
  margin-bottom: 4vw;
  height: 300px;
  width: 300px;
  border: 1px;
}

.about-sun {

  transform: translateZ(0);

  background-image: url("images/sun.png");
  position: fixed;

  float: right;

  margin-top: 30vh;
  width: 200px;
  height: 200px;
  animation-name: spin;
  animation-duration: 50000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.padbottomabout {
  padding-bottom: 45vh;
}

.section3 {
    height: 82vh;
    min-height: 50vh;
    padding: 0 5%;
    padding-left: 150px;
    background-image: url(images/trianglify2.svg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section3content {
  padding-top: 9vh;
  width: 80vw;
}

.section3-image {
  margin-left: 5vw;
  margin-top: 2vw;
  margin-bottom: 4vw;
  float: right;

  width: 300px;
  height: 300px;
  animation-name: spin;
  animation-duration: 50000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/*-----FOOTER-----*/

footer {
    background-image: url(images/trianglify.svg);
    display: block;
}

.paddingfooter {
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
}

/* Middle Text */

.middletext {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 9rem;

  text-align: center;
  position: fixed;
  right: 41vw;
  width: 300px;
  padding: 30vh 0;

  z-index: 1;
  animation-name: fadein;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

/* Phone Animation */

.phone {
    height: 80vh;
    margin-left: 47vw;
    margin-top: -75vh;
    animation-name: slidefromright;
    animation-duration: 2s;
    animation-delay: 1.25s;
    animation-fill-mode: backwards;
}

/* Headline Text Animation */

.headline {
    padding-left: 5%;
    padding-top: 5%;
    margin-right: 50%;
    animation-name: slidefromleft;
    animation-duration: 2s;
    animation-delay: 1.25s;
    animation-fill-mode: backwards;
}

/* Fadein Animation */

.fadein {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: magenta;
  -webkit-animation-name: fadein; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 0.5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-name: fadein;
  animation-delay: 0.25s;
  animation-duration: 3.5s;
  animation-fill-mode: forwards;
}

/* Bar Animation */

.bar {
    position: fixed;
    width: 25vw;
    height: 100vw;
    left: 0;
    top: 0;
    background-color: #4c369c;
    -webkit-animation-name: motto; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    -webkit-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-name: motto;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    float: left;
    z-index: 1;
}

.bar1 {
  animation-delay: 0.75s;
}

.bar2 {
  animation-delay: 1s;
  margin-left: 25vw;
}

.bar3 {
  animation-delay: 1.25s;
  margin-left: 50vw;
}

.bar4 {
  animation-delay: 1.5s;
  margin-left: 75vw;
}

/* Animation stuffs */

@keyframes fx-mask {
    0% {
        transform: translateX(-100%) rotate(45deg);
    }

    100% {
        transform: translateX(100%) rotate(45deg);
    }
}

@keyframes fx-text {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(1em);
        opacity: 0;
    }
}

@keyframes fx-text-bis {
    0% {
        transform: translateX(-1em);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Drop-down Bars */

@-webkit-keyframes motto {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes motto {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

/* Phone */

@keyframes slidefromright {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }

}

/* Headline Text */

@keyframes slidefromleft {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }

}

/* Spinning Earth */
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0; }
}
